<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAMLEMON</title>
    <style>
        .error-box {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="error-box">
        <h1>500 ERROR</h1>
        <h4>서버에 문제가 생겼습니다. 관리자에게 문의주세요.</h4>
    </div>
</body>
</html>