<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAMLEMON</title>
    <link rel="stylesheet" href="/assets/css/common.css">
</head>
<body>
    id:<input id="userId" type="text" maxlength="20">
    pw:<input id="userPw" type="password" maxlength="20">
    <button onclick="loginSubmit()">Login</button>
    <script src="/assets/js/login.js"></script>
</body>
</html>